certifi==2018.8.24
chardet==3.0.4
Django==1.11.15
djangorestframework==3.11.2
get==1.0.3
h5py==2.8.0
idna==2.7
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
numpy==1.15.1
post==1.0.2
public==1.0.3
pydub==0.23.0
python-speech-features==0.6
pytz==2018.5
PyYAML==3.13
query-string==1.0.2
request==1.0.2
requests==2.19.1
scipy==1.1.0
six==1.11.0
urllib3==1.23
